.t02 {
  background-color: rgb(242, 195, 247);
  width: 120px;
  padding: 10px 0;
  list-style: none;
  text-align: center;
  list-style: none;
  display: block;
  border-style: solid;
  border-width: 1px;
}
li:hover {
  background-color: rgb(220, 103, 255);
}
.kkk2 {
  list-style: none;
  width: 130px;
  height: 17px;
  text-align: center;
  display: inline-block;
  list-style: none;
  background-color: rgb(252, 159, 239);
  padding: 10px 0;
  border-style: solid;
  border-width: 1px;
  margin-left: -5px;
}

ul {
  display: inline-block;
}
#k01 {
  vertical-align: top;
}
#k10 {
  background-color: rgb(95, 3, 170);
}
#k20 {
  background-color: rgb(95, 3, 170);
}
